@page "/About"

@using System.IO
@using System.Net.Http
@using System.Text
@using System.Xml;
@using System.Xml.Schema;

@inject IJSRuntime js
@inject HttpClient _client
@inject AppState AppState
<div class="container-fluid" style="max-width:900px;background-color:lightgray">
    <div class="row w-100 text-center">
        <div class="col"  style="padding-top:20px">
            <img src="images/e-lijah.jfif";
        </div>
    </div>
    <div class="row w-100 text-center" >
        <div class="col" style="font-size:larger">
            About XmlPlanter
        </div>
    </div>
    <div class="row">
        <div class="col" style=" font-size:large">
            Version=@version
        </div>
    </div>
</div>
@code {
    string version;
    protected  override void OnInitialized()
    {
        version = GetType().Assembly.GetName().Version.ToString();
    }
}
