@page "/"

@using System.IO
@using System.Net.Http
@using System.Text
@using System.Xml;
@using System.Xml.Schema;

@inject IJSRuntime js
@inject HttpClient _client
@inject AppState AppState
<div class="container-fluid">
    <div class="row w-100">
        <div class="col">
            <div class="row" style="margin-bottom:5px">
                <div class="col-3 file-input-zone">
                    <InputFile OnChange="@OnSourceFileChange" accept=".xml" />
                    @lblChooseSource
                </div>
                <div class="col-5" style="padding-top:3px!important">@lblSource</div>
                <div class="col-3">
                    <button @onclick="markTags" class="myButton">Mark</button>
                </div>
            </div>
            <div class="row">
                <div class="col" style="padding-left:0!important;">
                    <MonacoEditor @ref="_editorSource" Id="editor-source" ConstructionOptions="EditorConstructionOptions" OnDidInit="OnDidInitSource" OnContextMenu="OnContextMenuSource" />
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row" style="margin-bottom:5px">
                <div class="col-3 file-input-zone">
                    <InputFile OnChange="@OnTargetFileChange" accept=".xml" />
                    @lblChooseTarget
                </div>
                <div class="col-5" style="padding-top:3px!important">@lblTarget</div>
                <div class="col-4">
                    <button @onclick="ValidateXML" class="myButton">Validate</button>
                    <button @onclick="Download" class="myButton">Save</button>
                </div>
            </div>
            <div class="row">
                <div class="col" style="padding-left: 0 !important">
                    <MonacoEditor @ref="_editorTarget" Id="editor-target" ConstructionOptions="EditorConstructionOptions" OnDidInit="OnDidInitTarget" OnContextMenu="OnContextMenuTarget" /> @*onDidChangeCursorSelection="onDidChangeCursorSelectionTarget" />*@
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    private MonacoEditor _editorSource { get; set; }
    private MonacoEditor _editorTarget { get; set; }
    private List<string> lSourceLines = new List<string>();
    private List<string> lTargetLines = new List<string>();
    private string ValueToSet { get; set; }
    private Dictionary<string, BlazorMonaco.Range> sourceDecorations = new Dictionary<string, BlazorMonaco.Range>();
    private string[] decorationIdsTarget;
    private string lblSource = "";
    private string lblChooseSource = "Choose Source";
    private string lblTarget = "";
    private string lblChooseTarget = "Choose Target";
    private XmlSchemaSet schemaSet = new XmlSchemaSet();
    ValidationEventHandler eventHandler = new ValidationEventHandler(ValidationEventHandler);
    [CascadingParameter] public IModalService Modal { get; set; }
    static private List<string> validationErrors = new List<string>();
    List<FindMatch> sourceMatches { get; set; }

    private async Task markTags()
    {
        AppState.isWorking();
        await Task.Delay(1);

        await Helpers.markTags(_editorSource, AppState.tagName, sourceMatches, sourceDecorations);

        AppState.notWorking();
    }

    private async Task CopyTag(bool newTagVal = false)
    {
        string msg = "";
        switch (AppState.X2XMode)
        {
            case enmX2XMode.None:
                msg = "Please select mode in configuration";
                break;
            case enmX2XMode.CopyTagWithAttribs:
                if (newTagVal) msg = "Mode is not 'Copy tag with NEW attribute'";
                break;
            case enmX2XMode.CopyTagWithNewAttribs:
                if (!newTagVal) msg = "Mode is 'Copy tag with NEW attribute'";
                break;
        }
        if (msg != "")
        {
            Helpers.ShowModal(msg, Modal);
            return;
        }

        Position p = await _editorSource.GetPosition();
        KeyValuePair<string, BlazorMonaco.Range> dec = (from d in sourceDecorations
                                                        where d.Value.StartLineNumber <= p.LineNumber && d.Value.EndLineNumber >= p.LineNumber
                                                        select d).FirstOrDefault();
        if (!string.IsNullOrEmpty(dec.Key))
        {
            BlazorMonaco.Range decRange = dec.Value;
            TextModel sourceModel = await _editorSource.GetModel();
            string tag = await sourceModel.GetValueInRange(decRange, EndOfLinePreference.CRLF);
            if (newTagVal)
            {
                XmlDocument node = new XmlDocument();
                bool emptyTag = tag.IndexOf("/>") != -1;
                if (emptyTag) node.LoadXml(tag);
                else node.LoadXml($"{tag}</{AppState.tagName}>");
                foreach (XmlAttribute attrb in node.DocumentElement.Attributes)
                {
                    if (attrb.Name == AppState.attribName) attrb.Value = (AppState.attribStartVal++).ToString();
                }
                if (emptyTag) tag = node.OuterXml;
                else tag = node.OuterXml.Substring(0, node.OuterXml.IndexOf("</"));
            }


            Selection targetSel = await _editorTarget.GetSelection();
            Position targetStartPos = new Position()
            {

                Column = targetSel.StartColumn,
                LineNumber = targetSel.StartLineNumber,
            };
            Position targetEndPos = new Position()
            {
                Column = targetSel.EndColumn,
                LineNumber = targetSel.EndLineNumber
            };
            if (targetStartPos.LineNumber == targetEndPos.LineNumber)
            {
                targetEndPos.Column += tag.Length;
            }

            if (targetSel.StartLineNumber != targetSel.EndLineNumber || targetSel.StartColumn != targetSel.EndColumn)
            {//a range is selected
                await _editorTarget.SetPosition(targetStartPos);
                await _editorTarget.Trigger("keyboard", "type", Helpers.TagToJson(tag, enmTagChanges.OpenTag));

                await _editorTarget.SetPosition(targetEndPos);
                await _editorTarget.Trigger("keyboard", "type", Helpers.TagToJson($"</{AppState.tagName}>", enmTagChanges.DoNothing));
            }
            else
            {//insert at cursor
                await _editorTarget.Trigger("keyboard", "type", Helpers.TagToJson(tag, enmTagChanges.CloseTag));
            }

            await Helpers.ColorToDone(dec.Key, dec.Value, _editorSource);
        }
    }

    private async void CopyTagWNew()
    {
        await CopyTag(newTagVal: true);
    }

    private StandaloneEditorConstructionOptions EditorConstructionOptions(MonacoEditor editor)
    {
        return new StandaloneEditorConstructionOptions
        {
            GlyphMargin = true,
            AutomaticLayout = true,

        };
    }

    protected async override void OnInitialized()
    {
        AppState.isWorking();
        //load schemaSet for validation
        await Helpers.loadSchema("data/tei_all.xsd", "http://www.tei-c.org/ns/1.0", schemaSet, _client);
        await Helpers.loadSchema("data/tei_all_dcr.xsd", "http://www.isocat.org/ns/dcr", schemaSet, _client);
        await Helpers.loadSchema("data/tei_all_teix.xsd", "http://www.tei-c.org/ns/Examples", schemaSet, _client);
        await Helpers.loadSchema("data/tei_all_xml.xsd", "http://www.w3.org/XML/1998/namespace", schemaSet, _client);
        await AddCopyTagActions();

        AppState.notWorking();
    }

    private async Task OnDidInitSource(MonacoEditorBase editor)
    {
        await js.InvokeVoidAsync("registerResize");
        var i = await js.InvokeAsync<string>("resizeEditors", "editor-source");
        //sourceDecorations = await DisplayDecoration(_editorSource, 4);
        // You can now use 'decorationIds' to change or remove the decorations
    }

    private async Task OnDidInitTarget(MonacoEditorBase editor)
    {
        //lTargetLines = await LoadXMLfromFile(_editorTarget, "data/BTAdler20210210.xml");

        var i = await js.InvokeAsync<string>("resizeEditors", "editor-target");
        //decorationIdsTarget = await DisplayDecoration(_editorTarget, 2);
        // You can now use 'decorationIds' to change or remove the decorations
    }

    private void OnContextMenuSource(EditorMouseEvent eventArg)
    {// To disable menu options according to mode:
     // https://stackoverflow.com/questions/62001650/how-to-open-context-menu-in-monaco-editor-based-on-line-content-in-angular
     // requires an implementation of MonacoEditorBase.createContextKey
        Console.WriteLine("OnContextMenu : " + System.Text.Json.JsonSerializer.Serialize(eventArg));
    }

    private void OnContextMenuTarget(EditorMouseEvent eventArg)
    {
        Console.WriteLine("OnContextMenu : " + System.Text.Json.JsonSerializer.Serialize(eventArg));
    }

    private async Task OnSourceFileChange(InputFileChangeEventArgs e)
    {
        lblSource = e.File.Name;
        lblChooseSource = "Source: ";

        if (e.File.Size > 512000)
        {
            lblSource = $"{lblSource} is larger the 500kb!";
        }
        lSourceLines = await Helpers.LoadXMLfromFile(_editorSource, e.File);
    }

    private async Task OnTargetFileChange(InputFileChangeEventArgs e)
    {
        lblTarget = e.File.Name;
        lblChooseTarget = "Target: ";

        if (e.File.Size > 512000)
        {
            lblTarget = $"{lblTarget} is larger the 500kb!";
        }
        lTargetLines = await Helpers.LoadXMLfromFile(_editorTarget, e.File);
    }

    //private void onDidChangeCursorSelectionTarget(CursorSelectionChangedEvent eventArgs)
    //{

    //}

    private async Task AddCopyTagActions()
    {
        //https://stackoverflow.com/questions/64057359/difference-between-editor-addaction-and-editor-addcommand-and-their-use-case
        //
        await _editorSource.AddAction("CopyTag", "Copy Tag with Attributes",
            new int[] { (int)KeyMode.Shift | (int)KeyCode.KEY_T },
            null, null, "navigation", 1.5, (editor, keyCodes) => CopyTag());
        await _editorSource.AddAction("CopyTagWNewAttrib", "Copy Tag with New Attribute",
            new int[] { (int)KeyMode.Shift | (int)KeyCode.KEY_N },
            null, null, "navigation", 1.5, (editor, keyCodes) => CopyTagWNew());
    }

    private async Task ValidateXML()
    {
        try
        {
            AppState.isWorking();
            validationErrors.Clear();
            await Task.Delay(1);

            byte[] byteArrayX = Encoding.ASCII.GetBytes(await _editorTarget.GetValue());
            MemoryStream streamX = new MemoryStream(byteArrayX);
            XmlReader reader = XmlReader.Create(streamX);

            XmlDocument document = new XmlDocument();
            document.Load(reader);
            document.Schemas = schemaSet;

            document.Validate(eventHandler);
        }
        catch (Exception e)
        {
            validationErrors.Add(e.Message);
            //throw;
        }
        finally
        {
            AppState.notWorking();
            ShowValModal();
        }
    }

    void ShowValModal()
    {
        if (validationErrors.Count > 0)
        {
            string msg = "";
            foreach (string s in validationErrors)
            {
                msg = msg + s + Environment.NewLine;
            }
            Helpers.ShowModal(msg, Modal);
        }
    }

    static void ValidationEventHandler(object sender, ValidationEventArgs e)
    {
        switch (e.Severity)
        {
            case XmlSeverityType.Error:
                Console.WriteLine("Error: {0}", e.Message);
                break;
            case XmlSeverityType.Warning:
                Console.WriteLine("Warning {0}", e.Message);
                break;
        }
        validationErrors.Add(e.Message);
    }

    private async Task Download()
    {
        if (await js.InvokeAsync<int>("isChrome") > -1)
        {
            var w1 = await js.InvokeAsync<string>("getWidth", "editor-source");
            var w2 = await js.InvokeAsync<string>("getWidth", "editor-target");
            var h1 = await js.InvokeAsync<string>("getHeight", "editor-source");
            var h2 = await js.InvokeAsync<string>("getHeight", "editor-target");

            await js.InvokeVoidAsync("setSize", "editor-source", w1, h1);
            await js.InvokeVoidAsync("setSize", "editor-target", w2, h2);
        }

        byte[] file = System.Text.Encoding.UTF8.GetBytes(await _editorTarget.GetValue());
        await js.InvokeVoidAsync("BlazorDownloadFile", lblTarget, "text/xml", file);


    }

    //private async Task<string[]> DisplayDecoration(MonacoEditor editor, int iRow)
    //{
    //    var newDecorations = new ModelDeltaDecoration[]
    //    {
    //        new ModelDeltaDecoration
    //        {
    //            Range = new BlazorMonaco.Range(iRow,1,iRow,3),
    //            Options = new ModelDecorationOptions
    //            {
    //                IsWholeLine = true,
    //                ClassName = "decorationContent",
    //                GlyphMarginClassName = "decorationGlyphMargin"
    //            }
    //        }
    //                                                                                                                                                    };
    //    return await editor.DeltaDecorations(null, newDecorations);
    //}
}
