@page "/"

@using System.IO
@using System.Net.Http
@using System.Text
@using System.Xml;
@using System.Xml.Schema;

@inject IJSRuntime js
@inject HttpClient _client
@inject AppState AppState
@*<div>
    <div style="margin:10px 0;">
                    New Value: <input type="text" @bind="ValueToSet" style="width: 400px;" /> <button @onclick="SetValue">Set Value</button>
                </div>
                <div style="margin:10px 0;">
                    <button @onclick="GetValue">Get Value</button>
                </div>
        </div>*@
<div class="container-fluid">
    <div class="row w-100">
        <div class="col">
            <div class="row" style="margin-bottom:5px">
                <div class="col-3 file-input-zone">
                    <InputFile OnChange="@OnSourceFileChange" accept=".xml" />
                    @lblChooseSource
                </div>
                <div class="col-5" style="padding-top:3px!important">@lblSource</div>
                <div class="col-2"><button @onclick="ValidateXML">Validate</button></div>
            </div>
            <div class="row">
                <div class="col" style="padding-left:0!important;">
                    <MonacoEditor @ref="_editorSource" Id="editor-source" ConstructionOptions="EditorConstructionOptions" OnDidInit="EditorOnDidInitSource" OnContextMenu="OnContextMenuSource" />
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row" style="margin-bottom:5px">
                <div class="col-3 file-input-zone">
                    <InputFile OnChange="@OnTargetFileChange" accept=".xml" />
                    @lblChooseTarget
                </div>
                <div class="col-5" style="padding-top:3px!important">@lblTarget</div>
                <div class="col-2"><button @onclick="Download">Download</button></div>
            </div>
            <div class="row">
                <div class="col" style="padding-left: 0 !important">
                    <MonacoEditor @ref="_editorTarget" Id="editor-target" ConstructionOptions="EditorConstructionOptions" OnDidInit="EditorOnDidInitTarget" OnContextMenu="OnContextMenuTarget" />
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    private MonacoEditor _editorSource { get; set; }
    private MonacoEditor _editorTarget { get; set; }
    private List<string> lSourceLines = new List<string>();
    private List<string> lTargetLines = new List<string>();
    private string ValueToSet { get; set; }
    private string[] decorationIdsSource;
    private string[] decorationIdsTarget;
    private string lblSource = "";
    private string lblChooseSource = "Choose Source";
    private string lblTarget = "";
    private string lblChooseTarget = "Choose Target";
    private XmlSchemaSet schemaSet = new XmlSchemaSet();
    ValidationEventHandler eventHandler = new ValidationEventHandler(ValidationEventHandler);
    [CascadingParameter] public IModalService Modal { get; set; }
    static private List<string> validationErrors = new List<string>();

    private StandaloneEditorConstructionOptions EditorConstructionOptions(MonacoEditor editor)
    {
        return new StandaloneEditorConstructionOptions
        {
            GlyphMargin = true,
            AutomaticLayout = true
        };
    }
    private async Task Download()
    {
        if (await js.InvokeAsync<int>("isChrome") > -1)
        {
            var w1 = await js.InvokeAsync<string>("getWidth", "editor-source");
            var w2 = await js.InvokeAsync<string>("getWidth", "editor-target");
            var h1 = await js.InvokeAsync<string>("getHeight", "editor-source");
            var h2 = await js.InvokeAsync<string>("getHeight", "editor-target");

            await js.InvokeVoidAsync("setSize", "editor-source", w1, h1);
            await js.InvokeVoidAsync("setSize", "editor-target", w2, h2);
        }

        byte[] file = System.Text.Encoding.UTF8.GetBytes(await _editorTarget.GetValue());
        await js.InvokeVoidAsync("BlazorDownloadFile", lblTarget, "text/xml", file);


    }

    private async Task OnSourceFileChange(InputFileChangeEventArgs e)
    {
        lblSource = e.File.Name;
        lblChooseSource = "Source: ";

        if (e.File.Size > 512000)
        {
            lblSource = $"{lblSource} is larger the 500kb!";
        }
        lSourceLines = await LoadXMLfromFile(_editorSource, e.File);
    }

    private async Task OnTargetFileChange(InputFileChangeEventArgs e)
    {
        lblTarget = e.File.Name;
        lblChooseTarget = "Target: ";

        if (e.File.Size > 512000)
        {
            lblTarget = $"{lblTarget} is larger the 500kb!";
        }
        lTargetLines = await LoadXMLfromFile(_editorTarget, e.File);
    }

    private async Task EditorOnDidInitSource(MonacoEditorBase editor)
    {
        AppState.isWorking();
        await js.InvokeVoidAsync("registerResize");
        var i = await js.InvokeAsync<string>("resizeEditors", "editor-source");
        decorationIdsSource = await DisplayDecoration(_editorSource, 4);
        // You can now use 'decorationIds' to change or remove the decorations

        //load schemaSet for validation
        await loadSchema("data/tei_all.xsd", "http://www.tei-c.org/ns/1.0");
        await loadSchema("data/tei_all_dcr.xsd", "http://www.isocat.org/ns/dcr");
        await loadSchema("data/tei_all_teix.xsd", "http://www.tei-c.org/ns/Examples");
        await loadSchema("data/tei_all_xml.xsd", "http://www.w3.org/XML/1998/namespace");
        AppState.notWorking();
    }

    private async Task EditorOnDidInitTarget(MonacoEditorBase editor)
    {
        //lTargetLines = await LoadXMLfromFile(_editorTarget, "data/BTAdler20210210.xml");

        var i = await js.InvokeAsync<string>("resizeEditors", "editor-target");
        decorationIdsTarget = await DisplayDecoration(_editorTarget, 2);
        // You can now use 'decorationIds' to change or remove the decorations
    }

    private async Task<string[]> DisplayDecoration(MonacoEditor editor, int iRow)
    {
        var newDecorations = new ModelDeltaDecoration[]
        {
            new ModelDeltaDecoration
            {
                Range = new BlazorMonaco.Range(iRow,1,iRow,3),
                Options = new ModelDecorationOptions
                {
                    IsWholeLine = true,
                    ClassName = "decorationContentClass",
                    GlyphMarginClassName = "decorationGlyphMarginClass"
                }
            }
                                                                                                                                                        };
        return await editor.DeltaDecorations(null, newDecorations);
    }

    private async Task<List<string>> LoadXMLfromFile(MonacoEditor editor, IBrowserFile file)
    {
        byte[] bytesOfXML = new byte[file.Size];
        using (Stream strm = file.OpenReadStream())
        {
            await strm.ReadAsync(bytesOfXML);
        }
        string stringOfXML = Encoding.UTF8.GetString(bytesOfXML);
        TextModel model = await MonacoEditorBase.CreateModel(stringOfXML, "xml");
        await editor.SetModel(model);

        List<string> lLines = stringOfXML.Split("\n").ToList<string>();
        return lLines;
    }

    private void OnContextMenuSource(EditorMouseEvent eventArg)
    {
        Console.WriteLine("OnContextMenu : " + System.Text.Json.JsonSerializer.Serialize(eventArg));
    }
    private void OnContextMenuTarget(EditorMouseEvent eventArg)
    {
        Console.WriteLine("OnContextMenu : " + System.Text.Json.JsonSerializer.Serialize(eventArg));
    }

    private async Task SetValue()
    {
        Console.WriteLine($"setting value to: {ValueToSet}");
        await _editorSource.SetValue(ValueToSet);
    }

    private async Task GetValue()
    {
        var val = await _editorSource.GetValue();
        Console.WriteLine($"value is: {val}");
    }

    private async Task AddCommand()
    {//https://github.com/microsoft/monaco-editor/issues/1901#issuecomment-609018281
        await _editorSource.AddCommand((int)KeyMode.CtrlCmd | (int)KeyCode.Enter, (editor, keyCode) =>
        {
            Console.WriteLine("Ctrl+Enter : Editor command is triggered.");
        });
    }

    private async Task AddAction()
    {//https://stackoverflow.com/questions/64057359/difference-between-editor-addaction-and-editor-addcommand-and-their-use-case
        await _editorSource.AddAction("testAction", "Test Action", new int[] { (int)KeyMode.CtrlCmd | (int)KeyCode.KEY_D, (int)KeyMode.CtrlCmd | (int)KeyCode.KEY_B }, null, null, "navigation", 1.5, (editor, keyCodes) =>
        {
            Console.WriteLine("Ctrl+D : Editor action is triggered.");
        });
    }

    private async Task ValidateXML()
    {
        try
        {
            AppState.isWorking();
            validationErrors.Clear();
            await Task.Delay(1);

            byte[] byteArrayX = Encoding.ASCII.GetBytes(await _editorTarget.GetValue());
            MemoryStream streamX = new MemoryStream(byteArrayX);
            XmlReader reader = XmlReader.Create(streamX);

            XmlDocument document = new XmlDocument();
            document.Load(reader);
            document.Schemas = schemaSet;
            
            document.Validate(eventHandler);
        }
        catch (Exception e)
        {
            validationErrors.Add(e.Message);
            //throw;
        }
        finally
        {
            AppState.notWorking();
            ShowValModal();
        }
    }

    void ShowValModal()
    {
        if (validationErrors.Count > 0)
        {
            string msg = "";
            foreach (string s in validationErrors)
            {
                msg = msg + s + Environment.NewLine;
            }
            ShowModal(msg);
        }
    }

    void ShowModal(string msg) => Modal.Show<Confirm>(msg);

    static void ValidationEventHandler(object sender, ValidationEventArgs e)
    {
        switch (e.Severity)
        {
            case XmlSeverityType.Error:
                Console.WriteLine("Error: {0}", e.Message);
                break;
            case XmlSeverityType.Warning:
                Console.WriteLine("Warning {0}", e.Message);
                break;
        }
        validationErrors.Add(e.Message);
    }

    private async Task loadSchema(string path, string nameSpace)
    {
        byte[] byteArrayS = await _client.GetByteArrayAsync(path);
        MemoryStream streamS = new MemoryStream(byteArrayS);
        XmlReader xmlSchemaReader = XmlReader.Create(streamS);
        schemaSet.Add(nameSpace, xmlSchemaReader);
    }


}
