@inherits LayoutComponentBase
@inject AppState AppState
@implements IDisposable

<div class="page">
    @*<div class="sidebar">
            <NavMenu />
        </div>*@

    <div class="main">
        <div class="top-row px-4" id="navTop">

            <img id="gifWorking" src="images/working.gif" class="workingGif @AppState.hiddenClass" />
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Xml2Xml
            </NavLink>
            <NavLink class="nav-link disabled" href="">
                Xml2Tsv2Xmlxyz
            </NavLink>            
            <button class="btn btn-primary" @onclick="getConfig">Configuration</button>
            @*<div style="margin:5px 10px 5px 10px;">
                Theme:
                <select @onchange="ChangeTheme">
                    <option value="vs">Visual Studio</option>
                    <option value="vs-dark">Visual Studio Dark</option>
                    <option value="hc-black">High Contrast Black</option>
                </select>
            </div>*@
            <a href="About" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {

    [CascadingParameter] public IModalService Modal { get; set; }
    private async void getConfig()
    {
        ModalOptions options = new ModalOptions() { HideCloseButton = true, Animation = ModalAnimation.FadeInOut(0.5) };

        var messageForm = Modal.Show<MessageForm>(title: "Configuration",options: options);
        var result = await messageForm.Result;

        //if (!result.Cancelled)
        //{
        //    string _message = result.Data?.ToString() ?? string.Empty;
        //    Helpers.ShowModal(_message, Modal);
        //}

    }
    private async Task ChangeTheme(ChangeEventArgs e)
    {
        Console.WriteLine($"setting theme to: {e.Value.ToString()}");
        await MonacoEditorBase.SetTheme(e.Value.ToString());
    }

    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }


}
